@{
    ViewBag.Title = "JSSDK";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>JSSDK-添加卡券到卡包</h2>

@section scripts{

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script type="text/javascript">

        var timestamp = '@Wechat.Helper.CommonHelper.GetTimeStamp()',//时间戳
            noncestr = '@Wechat.Helper.CommonHelper.GetNonceStr()',//随即串
            url = location.href;//当前页面路径

        $.post('@Url.Action("GetSign", "JsSdk", new { area = string.Empty })', { timestamp: timestamp, nonceStr: noncestr, url: url }, function (sign) {

            //通过config接口注入权限验证配置
            wx.config({
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '@Wechat.API.Model.ApiModel.AppID', // 必填，公众号的唯一标识
                timestamp: timestamp, // 必填，生成签名的时间戳
                nonceStr: noncestr, // 必填，生成签名的随机串
                signature: sign,// 必填，签名，见附录1
                jsApiList: ['chooseCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            //通过ready接口处理成功验证
            wx.ready(function () {

                //判断当前客户端版本是否支持指定JS接口
                //wx.checkJsApi({
                //    jsApiList: ['onMenuShareTimeline'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                //    success: function (res) {
                //        // 以键值对的形式返回，可用的api值true，不可用为false
                //        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                //    }
                //});


                var codes = [];

                var shopId = '',
                    cardType = 'GROUPON',
                    cardId = '';

                //拉取适用卡券列表并获取用户选择信息
                $.post('@Url.Action("GetCardSign", "Card", new { area = string.Empty })', { timestamp: timestamp, nonceStr: noncestr, shopId: shopId, cardType: cardType, cardId: cardId }, function (cardSign) {
                    wx.chooseCard({
                        shopId: shopId, // 非必填，门店ID。shopID用于筛选出拉起带有指定location_list(shopID)的卡券列表。
                        cardType: cardType, // 非必填，卡券类型。用于拉起指定卡券类型的卡券列表。当cardType为空时，默认拉起所有卡券的列表
                        cardId: cardId, // 非必填，卡券Id。用于拉起指定cardId的卡券列表，当cardId为空时，默认拉起所有卡券的列表
                        timestamp: timestamp, // 必填，卡券签名时间戳
                        nonceStr: noncestr, // 必填，卡券签名随机串
                        signType: 'SHA1', // 必填，签名方式，默认'SHA1'
                        cardSign: cardSign, // 必填，卡券签名
                        success: function (res) {
                            var cardList = res.cardList; // 用户选中的卡券列表信息，格式：'{\"errMsg\":\"chooseCard:ok\",\"cardList\":[{\"encrypt_code\":\"0of8Pphk0nJ9uSIATp8lelwadWxUnOz0NhEbwrzXp6w=\",\"card_id\":\"pxKfavtut0Y7u8QzQJdIwAuMcvk0\"},{\"encrypt_code\":\"0of8Pphk0nJ9uSIATp8lelwadWxUnOz0NhEbwrzXp9w=\",\"card_id\":\"pxKfavgLcNvXtzLe2LjqiTHy-Chs\"}]}'

                            //追加的
                            //var cardListJsonObject = JSON.parse(cardList);//parse用于从一个字符串中解析出json对象
                            //encrypt_code = cardListJsonObject["cardList"][0]['encrypt_code'];
                            //decryptCode(encrypt_code, function (code) {
                            //    codes.push(code);
                            //});
                        }
                    });
                });

                var cardId = 'pIWbiwJ-fkr_REvnb_KK1ZAmN7Pw',
                    code = '',
                    openId = '';
                //批量添加卡券接口
                $.post('@Url.Action("GetCardExt", "Card", new { area = string.Empty })', { cardId: cardId, timestamp: timestamp, nonceStr: noncestr, code: code, openId: openId }, function (cardExt) {
                    wx.addCard({
                        cardList: [{
                            cardId: cardId,
                            cardExt: cardExt
                        }], // 需要添加的卡券列表
                        success: function (res) {
                            var cardList = res.cardList; // 添加的卡券列表信息
                        }
                    });
                });

                //查看微信卡包中的卡券接口
                wx.openCard({
                    cardList: [{
                        cardId: cardId,
                        code: ''
                    }]// 需要打开的卡券列表
                });

                //发起一个微信支付请求
                wx.chooseWXPay({
                    timestamp: timestamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                    nonceStr: noncestr, // 支付签名随机串，不长于 32 位
                    package: '', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                    signType: 'SHA1', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                    paySign: '', // 支付签名
                    success: function (res) {
                        // 支付成功后的回调函数
                    }
                });

            });
        })
    </script>
}
